.freebie-detail {
  margin-top: 50px;
}

.freebie-author-photo {
  width: 60px;
  height: 50px;
  display: inline-block;
}

.freebie-author-photo img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.freebie-author-info {
  display: inline-block;
}

.dibs-error {
  margin-top: 10px;
  color: #eb3b5a;
  text-align: center;
}

.dibs-btn:disabled {
  cursor:not-allowed;
}

.freebie-photo {
  width: 100%;
  padding: 10px;
}

.claimed-label {
  color: red;
}

.dibs-btn-block, .claimed-btn-block {
  text-align: center;
  margin: 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

small, p, span, div {
  font-family: 'Open Sans', sans-serif;
}

.freebie-detail .btn-primary {
  background-color: #eb3b5a !important;
  border-color: #eb3b5a !important;
}

.freebie-detail .btn-primary:hover {
  background-color: #cf3753 !important;
}

.author-control-btn-block {
  text-align: center;
  margin: 20px 0;
}

.author-control-btn {
  cursor: pointer;
  margin: 0 10px;
}

.author-control-btn-block .fas {
  color: #0fb9b1;
}

.claimed-label {
  position: absolute;
  left: -80%;
  top: 40%;
  width: 300px;
  z-index: 2;
  transform: rotate(-15deg);
}

@media (max-width: 768px) {
  .claimed-label {
    width: 200px;
    left: 30%;
    top: -60%;
  }
}

@media (max-width: 576px) {
  .claimed-label {
    left: 20%;
    top: -40%;
  }
}