.hero img {
  width: 100%;
}

.about-dibs {
  margin: 20px 30px;
}

.register-form {
  background-color: #e8f3f2;
}

.register-form h3 {
  margin: 30px auto;
  text-align: center;
}

form {
  margin: 20px 30px;
}

.row {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
}

.col-md-8 {
  padding: 0 !important;
}